/* medium viewports */

@media only screen and (min-width: 40em) {

    header {
        color: var(--paragraph-color-on-color);
        background-color: var(--text-background-color);
        padding: 15px 0 15px 5px;
        float: none;
        display: flex;
    }

    header img {
        margin-left: -35px;
    }

    .headings h1 {
        color: #9ECEE5;
        font-size: 1.6rem;
        margin: 0 0 0 17px;
        margin-right: 120px;
    }

    .quote {
        font-style: italic;
        letter-spacing: 1pt;
        color: #9ECEE5;
        background-color: var(--text-background-color);
        margin-left: 30px;
        font-size: .9rem;
        letter-spacing: 1.5pt;
    }

    .primaryNav {
        color: #9ECEE5;
    }

    nav {
        float: right;
        background-color: #0291C9;
        margin-right: -40px;
    }

    a:link,
    a:visited {
        color: #9ECEE5;
    }

    body {
        background-color: #E5E5E5;
    }

    main h1 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .headings h1 {
        font-size: 3rem;
    }

    .herodiv {
        margin: auto;
        width: 95%;
        height: auto;
        margin-bottom: 25px;
      }
      
      .hero-ph img {
        margin: auto;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        border-radius: 0;
      }

    /*********** TOURS.HTML CSS START ***********/

    .tours {
        font-size: 1.6rem;
        color: #00B7AB;
        margin-bottom: -10px;
    }
    
    .tourlist {
        font-size: 1.1rem;
    }
    
    .tourlist li {
        margin-bottom: 3px;
    }
    
    .tourlist a {
        color: #00B7AB;
        font-weight: bold;
        padding-left: 2.5px;
    }
    
    .features p {
        color: #0291C9;
    }
    
    .buttonHolder2 {
        text-align: center;
        margin-top: 25px;
    }
    
    form input.submitBtn3 {
        border: none;
        background-color: #FEF64D;
        font-weight: bold;
        font-size: 1.5em;
        color: #00B7AB;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 5rem 2%;
        width: 96%;
        max-width: 25rem;
        height: 2.25em;
        border: 2px dashed #00B7AB;
    }

    .features {
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }

    .features h1 {
        margin: 30px auto;
        color: var(--headline-color-on-color);
        text-align: center;
        font-size: 2.5rem;
        color: #00B7AB;
        border: 4px; border-style: ridge; border-color: #00B7AB;
        width: fit-content;
        padding: 10px;
        margin-bottom: 75px;
        border-radius: 10px;
        background-color: #FEF64D;
    }

    .features p {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        display: block;
    }

    .features img {
        margin-left: auto;
        width: 60%;
        margin-right: auto;
        text-align: center;
        display: block;
    }

    .one {
        text-align: center;
    }

    .two {
        text-align: center;
        margin-bottom: 55px;
    }

    .three {
        text-align: center;
    }

    .four {
        text-align: center;
    }

    /*********** TOURS.HTML CSS END ***********/

    /*********** INDEX.HTML CSS PRIMARY START ***********/

    .cozumel1 {
        position: absolute;
        top: 10px;
        width: 375px;
        height: 375px;
        left: 35px;
        bottom: 405px;
        background: radial-gradient(#9ECEE5, #9ECEE5);
        border: 1px solid #00B7AB;
        border-radius: 25px;
        padding: .5rem;
        box-shadow: 0 0 30px #9ECEE5;
        opacity: 0.85;
    }

    .cozumel1 img {
        border-radius: 25px;
        width: 100%;
    }

    .weathersummary {
        position: relative;
        width: 30%;
        top: 105px;
        float: left;
        text-align: left;
        left: -107px;
        bottom: 130px;
        background: radial-gradient(#E5E5E5, #FEF64D);
        border: 1px solid #00B7AB;
        border-radius: 25px;
        padding: .5rem;
        box-shadow: 0 0 30px #9ECEE5;
        color: black;
        font-weight: bold;
        font-family: Raleway, sans-serif;
        opacity: 0.75;
    }

    .weathersummary h2 {
        text-align: center;
        font-weight: bold;
        color: #0291C9;
        margin: 10px 0 0 0;
    }

    .weathersummary p {
        font-weight: bold;
        color: #0291C9;
        margin: 10px 0 0 0;
    }

    hr {
        border: 2px solid #0291C9;
        opacity: 1;
    }

    .cozumel2 {
        position: absolute;
        top: 60px;
        width: 375px;
        height: 375px;
        right: 35px;
        bottom: 375px;
        background: radial-gradient(#9ECEE5, #9ECEE5);
        border: 1px solid #00B7AB;
        border-radius: 25px;
        padding: .5rem;
        box-shadow: 0 0 30px #9ECEE5;
        opacity: 0.85;
    }

    .cozumel2 img {
        border-radius: 25px;
    }

    /*********** RESERVATIONS.HTML & CONTACT.HTML CSS START ***********/

    form {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }

    form fieldset {
        margin: 2rem 0;
        border: 1px solid #0291C9;
        border-radius: 10px;
        padding: .5rem 2%;
    }

    form legend {
        color: #0291C9;
        margin: 0 1rem;
        padding: 0 .5rem;
        font-size: 1.25rem;
    }

    form label.top {
        display: block;
        padding-top: 1rem;
        color: #0291C9;
        font-size: 1rem;
    }

    form label.top input,
    form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: 1px solid #999;
        border-radius: 4px;
        padding: .5rem;
        color: black;
        width: 100%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);
    }


    form label.top input:required {
        border-left: red solid 6px;
    }

    form label.top input:required:valid {
        border-left: green solid 6px;
    }

    textarea {
        font-size: .9rem;
        width: 100%;
    }

    /*********** RESERVATIONS.HTML & CONTACT.HTML CSS END ***********/

    .weathersummary {
        top: 25px;
        left: 25px;
        bottom: 25px;
        padding: .5rem;
        color: #00B7AB;
        font-weight: bold;
        font-family: Raleway, sans-serif;
    }

    .fivedaytext > h3 {
        text-align: center;
        color: #005377;
        font-family: Roboto Slab, serif;
    }

    .forecast-ph img {
        margin: auto;
        background-repeat: no-repeat;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #005377;
    }

    .article-container {
        margin: 10px auto;
        margin-top: 45px;
        margin-bottom: 45px;
        width: 650px;
        background-color: #F1D302;
        float: none;
        padding: 5px;
    }

    h3,
    h4 {
        text-align: center;
        color: #0291C9;
        font-family: Roboto Slab, serif;
        font-weight: bold;
    }

    .article-img img {
        padding: 7px 7px 7px 7px;
        height: 100%;
        width: 50%;
    }

    .article-container h4 {
        margin: -12px 0 20px 0;
    }

    .article-container h3,
    h4 {
        text-align: left;
    }

    .article-container p {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        color: #005377;
    }

    .cards {
        display: grid;
        max-width: 1200px;
        margin-top: 165px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        grid-gap: .5em;
        grid-template-columns: 1fr 1fr;
        padding: 10px 5px;
        list-style: none;
        border-radius: 25px;
    }

    .cards section {
        overflow: hidden;
        display: block;
        height: 490px;
        width: 95%;
    }

    .cards h2 {
        text-shadow: none;
    }

    .cards section div {
        margin-top: 5px;
    }

    .cards:nth-child(1) img {
        margin-top: 110px;
    }

    .cards :nth-child(2) img {
        margin-top: 140px;
    }

    .cards :nth-child(3) img {
        margin-bottom: 130px;
    }

    nav a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    .nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    * {
        box-sizing: border-box;
    }

    .wrapper > div {
        border-radius: 5px;
        background-color: #BBDEF0;
        padding: 1em;
        margin: 5px;
    }

    .wrapper {
        display: block;
    }

    .wrapper > div {
        max-width: 780px;
    }

    .buttonHolder {
        text-align: center;
    }

    form input.submitBtn {
        border: none;
        background-color: #FEF64D;
        font-weight: bold;
        font-size: 1.5rem;
        color: #00B7AB;
        border: 1px dashed #0291C9;
        border-radius: 25px;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        margin-top: 10px;
        margin-bottom: 45px;
        width: 25rem;
        height: 3.5rem;
    }

    .homewrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .box {
        padding: 15px;
        background-color: transparent;
        color: #0291C9;
        border-radius: 25px;
        font-size: 125%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0291C9;
    }

    .homewrapper .box h4 {
        text-align: center;
        color: #00B7AB;
        font-size: 1.40rem;
        margin-top: -8px;
        margin-bottom: 5px;
    }

    .homewrapper :nth-child(1) h4 {
        text-align: center;
        color: #00B7AB;
        font-size: 1.40rem;
        margin-bottom: -55px;
    }

    .homewrapper :nth-child(4) {
        text-align: center;
        font-size: 1.40rem;
        margin-top: -65px;
    }

    .homewrapper :nth-child(6) {
        text-align: center;
        font-size: 1.40rem;
        margin-top: -65px;
    }

    .homewrapper :nth-child(1) {
        display: grid;
        text-align: center;
    }

    .homewrapper :nth-child(2) {
        align-items: center;
        justify-content: center;
    }

    .homewrapper :nth-child(3) {
        display: grid;
        text-align: center;
    }

    .homewrapper :nth-child(4) {
        text-align: center;
    }

    .homewrapper :nth-child(6) {
        text-align: center;
    }

    .homewrapper .box:nth-child(8) img {
        margin: 0 5px;
        margin-top: -120px;
    }

    .homewrapper :nth-child(8) a, img {
        border-radius: 10px;
    }

    footer {
        color: var(--accent1-color);
        background-color: var(--text-background-color);
        padding: 20px 0;
        display: block;
        text-align: center;
        max-width: 100%;
        margin-top: -80px;
    }

    .griditem1 {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .griditem1 img {
        width: 35%;
        height: auto;
    }

    .griditem3 {
        text-align: right;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0 5px 0 0;
    }

    .griditem4 {
        text-align: right;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 0 5px 0 0;
    }

    .griditem5 {
        text-align: right;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        margin: 0 5px 0 0;
    }
}

header {
    color: var(--paragraph-color-on-color);
    background-color: var(--text-background-color);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    color: #9ECEE5;
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}