:root {
  /* change the values below to your colors from your palette */
  --primary-color: #E5E5E5;
  --secondary-color: #0291C9;
  --accent1-color: #9ECEE5;
  --accent2-color: #00B7AB;
  --accent3-color: #FEF64D;

  /* change the values below to your chosen font(s) */
  --heading-font: "Roboto Slab", serif;
  --paragraph-font: Raleway, Helvetica, sans-serif;

  /* colors below are for the website color scheme */
  --headline-color-on-white: black;
  /* headlines on a white background */
  --headline-color-on-color: #00B7AB;
  /* headlines on a colored background */
  --paragraph-color-on-white: black;
  /* paragraph text on a white background */
  --paragraph-color-on-color: #E5E5E5;
  /* paragraph text on a colored background */
  --text-background-color: #0291C9;
  --nav-link-color:#9ECEE5;;
  --nav-background-color: #9ECEE5;
  --nav-hover-link-color: #FEF64D;
  --nav-hover-background-color: #00B7AB;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.headings {
  margin-right: 6px;
}

header {
  width: 100%;
  overflow: hidden;
  display: flex;
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color);
}

.quote {
  font-style: italic;
  letter-spacing: 1pt;
  color: #9ECEE5;
  background-color: var(--text-background-color);
  margin-left: 30px;
  font-size: .75rem;
  letter-spacing: 1.5pt;
  letter-spacing: 1.5pt;
  margin-left: 17px;
}

.primaryNav {
  color: #9ECEE5;
}

nav {
  background-color: #0291C9;
}

a:link,
a:visited {
  color: #9ECEE5;
}

body {
  background-color: #E5E5E5;
}

.herodiv {
  margin: auto;
  width: 95%;
  height: auto;
  margin-bottom: 25px;
}

.hero-ph img {
  margin: auto;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  border-radius: 0;
}

.cozumel1 {
  margin-top: 15px;
  display: block;
  margin: auto;
  text-align: center;
  width: 75%;
  top: 35px;
  left: 35px;
  bottom: 72px;
  background: radial-gradient(#9ECEE5, #9ECEE5);
  border: 1px solid #00B7AB;
  border-radius: 25px;
  padding: .5rem;
  box-shadow: 0 0 30px #9ECEE5;
  opacity: 0.85;
  margin-bottom: 15px;
}

.cozumel1 img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  width: 100%;
}

.cozumel2 {
  margin-top: 15px;
  display: block;
  margin: auto;
  text-align: center;
  width: 75%;
  top: 35px;
  right: 35px;
  bottom: 72px;
  background: radial-gradient(#9ECEE5, #9ECEE5);
  border: 1px solid #00B7AB;
  border-radius: 25px;
  padding: .5rem;
  box-shadow: 0 0 30px #9ECEE5;
  opacity: 0.85;
}

.cozumel2 img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  width: 100%;
}

.weathersummary {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #00B7AB;
  border-radius: 25px;
  padding: .5rem;
  width: 75%;
  box-shadow: 0 0 30px #9ECEE5;
  color: black;
  font-weight: bold;
  font-family: Raleway, sans-serif;
  opacity: 0.75;
  margin-top: 15px;
}

.weathersummary h2 {
  text-align: center;
  font-weight: bold;
  color: black;
  margin: 10px 0 0 0;
}

hr {
  border: 2px solid #0291C9;
  opacity: 1;
}

.threedaytext h3 {
  text-align: center;
  margin-top: 30px;
  color: #0291C9;
}

#dayofweek1 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #0291C9;
  text-align: center;
}

#dayofweek1 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #0291C9;
  color: white;
}

#forecast1 {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  margin-top: -10px;
}

#dayofweek2 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #005377;
  text-align: center;
}

#dayofweek2 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #005377;
  color: white;
}

#forecast2 {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  margin-top: -10px;
}

#dayofweek3 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #005377;
  text-align: center;
}

#dayofweek3 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #005377;
  color: white;
}

#forecast3 {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  margin-top: -10px;
}

/* Grid */
.threedaygrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 50px;
}

.threedaygrid {
  border-right: 1px solid #005377;
}

.grid-col {
  border-bottom: 1px solid #005377;
  border-left: 1px solid black;
  text-align: center;
}

.grid-col {
  background-color: ghostwhite;
}

.grid-col img {
  margin-top: 5px;
}

#dayofweek1 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #005377;
  text-align: center;
}

#dayofweek1 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #005377;
  color: white;
}

#forecast1 {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  margin-top: -10px;
}

#dayofweek2 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #005377;
  text-align: center;
}

#dayofweek2 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #005377;
  color: white;
}

#forecast2 {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  margin-top: -10px;
}

#dayofweek3 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #005377;
  text-align: center;
}

#dayofweek3 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #005377;
  color: white;
}

#forecast3 {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  margin-top: -10px;
}

.cards {
  display: grid;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  grid-gap: .25em;
  grid-template-columns: 1fr;
  padding: 10px 5px;
  list-style: none;
  border-radius: 25px;
}

.cards section {
  text-align: center;
  display: grid;
  background-color: #9ECEE5;
  padding: 1em;
  height: 500px;
  margin: .25em;
  box-shadow: 0 0 25px #FEF64D;
  border-radius: 25px;
  border: 1px solid #00B7AB;
}

.cards section h2 {
  text-align: center;
  font-family: Roboto Slab, serif;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 3px 3px 1.5px #E5E5E5;
  margin-top: -10px;
  margin-bottom: 20px;
  color: #0291C9;
}

.cards img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
  border: 1px solid transparent;

footer {
    color: var(--accent1-color);
    background-color: var(--text-background-color);
    padding: 20px 0;
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 50px;
  }  

.cards section ul {
  text-align: left;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: #0291C9;
  font-size: .9rem;
  padding-top: 0;
  margin-top: 0;
}

.buttonHolder {
  text-align: center;
}

form input.submitBtn {
  border: none;
  background-color: #FEF64D;
  font-weight: bold;
  font-size: 1.5rem;
  color: #00B7AB;
  border: 1px dashed #0291C9;
  border-radius: 25px;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  margin-top: 10px;
  margin-bottom: 45px;
  width: 25rem;
  height: 3.5rem;
}

/*********** TOURS.HTML CSS START ***********/

    .tours {
        font-size: 1.25rem;
        color: #00B7AB;
        margin-bottom: -10px;
    }
    
    .tourlist {
        font-size: 1em;
    }
    
    .tourlist li {
        margin-bottom: 3px;
    }
    
    .tourlist a {
        color: #00B7AB;
        font-weight: bold;
        padding-left: 2.5px;
    }
    
    .features p {
        color: #0291C9;
    }
    
    .buttonHolder2 {
        text-align: center;
        margin-top: 25px;
    }
    
    form input.submitBtn3 {
        border: none;
        background-color: #FEF64D;
        font-weight: bold;
        font-size: 1.5em;
        color: #00B7AB;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 5rem 2%;
        width: 96%;
        max-width: 25rem;
        height: 2.25em;
        border: 2px dashed #00B7AB;
    }

    .features {
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }

    .features h1 {
        margin: 30px auto;
        color: var(--headline-color-on-color);
        text-align: center;
        font-size: 2rem;
        color: #00B7AB;
        border: 4px; border-style: ridge; border-color: #00B7AB;
        width: fit-content;
        padding: 10px;
        margin-bottom: 75px;
        border-radius: 10px;
        background-color: #FEF64D;
    }

    .features2 h2 {
      font-size: 2rem;
    }

    .features p {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        display: block;
    }

    .features img {
        margin-left: auto;
        width: 75%;
        margin-right: auto;
        text-align: center;
        display: block;
    }

    .one {
        text-align: center;
    }

    .two {
        text-align: center;
        margin-bottom: 55px;
    }

    .three {
        text-align: center;
    }

    .four {
        text-align: center;
    }

    /*********** TOURS.HTML CSS END ***********/

    /*********** RESERVATIONS.HTML & CONTACT.HTML CSS START ***********/

  form {
      margin-left: 15%;
      margin-right: 15%;
      width: 70%;
  }

  form fieldset {
      margin: 2rem 0;
      border: 1px solid #0291C9;
      border-radius: 10px;
      padding: .5rem 2%;
  }

  form legend {
      color: #0291C9;
      margin: 0 1rem;
      padding: 0 .5rem;
      font-size: 1.25rem;
  }

  form label.top {
      display: block;
      padding-top: 1rem;
      color: #0291C9;
      font-size: 1rem;
  }

  form label.top input,
  form label.top select {
      -webkit-appearance: none;
      display: block;
      font-size: 1rem;
      border: 1px solid #999;
      border-radius: 4px;
      padding: .5rem;
      color: black;
      width: 100%;
      max-width: 20rem;
      background-color: rgba(0, 0, 0, 0.1);
  }


  form label.top input:required {
      border-left: red solid 6px;
  }

  form label.top input:required:valid {
      border-left: green solid 6px;
  }

  textarea {
      font-size: .9rem;
      width: 100%;
  }

  /*********** RESERVATIONS.HTML & CONTACT.HTML CSS END ***********/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

/* Grid */
.fivedaygrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 50px;
}

.fivedaygrid {
  border-right: 1px solid #0291C9;
}

.grid-col {
  border-bottom: 1px solid #0291C9;
  border-left: 1px solid black;
  text-align: center;
}

.grid-col {
  background-color: ghostwhite;
}

.grid-col img {
  margin-top: 5px;
}

#dayofweek1 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #0291C9;
  text-align: center;
}

#dayofweek1 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #0291C9;
  color: white;
}

#forecast1 {
  display: block;
  padding: 0 5px 5px;
  font-size: .9rem;
  text-align: center;
  margin-top: -10px;
}

#dayofweek2 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #0291C9;
  text-align: center;
}

#dayofweek2 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #0291C9;
  color: white;
}

#forecast2 {
  display: block;
  padding: 0 5px 5px;
  font-size: .9rem;
  text-align: center;
  margin-top: -10px;
}

#dayofweek3 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #0291C9;
  text-align: center;
}

#dayofweek3 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #0291C9;
  color: white;
}

#forecast3 {
  display: block;
  padding: 0 5px 5px;
  font-size: .9rem;
  text-align: center;
  margin-top: -10px;
}

#dayofweek4 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #0291C9;
  text-align: center;
}

#dayofweek4 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #0291C9;
  color: white;
}

#forecast4 {
  display: block;
  padding: 0 5px 5px;
  font-size: .9rem;
  text-align: center;
  margin-top: -10px;
}

#dayofweek5 {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #0291C9;
  text-align: center;
}

#dayofweek5 {
  font-weight: 700;
  font-size: 1rem;
  background-color: #0291C9;
  color: white;
}

#forecast5 {
  display: block;
  padding: 0 5px 5px;
  font-size: .9rem;
  text-align: center;
  margin-top: -10px;
}

nav {
  background-color: var(--nav-background-color);
  font-family: "Roboto Slab", serif;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #0291C9;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
  background-color: rgba(0, 53, 119, 1);
  color: #FEF64D;
}

nav ul.hide {
  display: none;
}

main > h1 {
  margin: 5px 0 5px 10px;
  color: #0291C9;
}

.weathersummary {
  top: 25px;
  left: 25px;
  bottom: 25px;
  padding: .5rem;
  color: #0291C9;
  font-weight: bold;
  font-family: Raleway, sans-serif;
}

.fivedaytext>h3 {
  text-align: center;
  color: #0291C9;
  font-family: Roboto Slab, serif;
  margin: 25px 0 10px 0;
}

.forecast-ph img {
  margin: auto;
  background-repeat: no-repeat;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0291C9;
}

.article-container {
  border: 1px solid #0291C9;
  margin: 10px 0 10px 0;
  background-color: #9ECEE5;
  float: none;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

h3,
h4 {
  text-align: center;
  color: #0291C9;
  font-family: Roboto Slab, serif;
  font-weight: bold;
}

.article-img img {
  padding: 7px 7px 7px 7px;
  height: 100%;
  width: 50%;
  float: right;
}

.article-container h4 {
  margin: -12px 0 20px 0;
}

.article-container h3,
h4 {
  text-align: left;
}

.article-container p {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  color: #0291C9;
}

.cards {
  color: #0291C9;
  font-size: .8em;
  margin: auto 0;
  display: grid;
  grid-gap: 1.5em;
}

.cards section {
  background-color: #00B7AB;
  text-align: center;
  padding: 1em;
  margin: auto;
  box-shadow: 0 0 25px #0291C9;
  font-weight: bold;
  width: 70%;
}

.cards h2 {
  font-family: Roboto Slab, serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 5px;
  text-align: center;
  text-shadow: none;
  color: #0291C9;
}

.cards p:nth-child(2) {
  font-family: Raleway, sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 30px;
  color: #0291C9;
}

.cards img {
  width: 200px;
  padding: 0;
  border: 1px solid #0291C9;
}

.cards p {
  font-family: Raleway, sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: -7px;
  font-weight: bold;
  color: #0291C9;
}

* {
  box-sizing: border-box;
}

.buttonHolder {
  text-align: center;
  margin-left: center;
}

form input.submitBtn {
  border: none;
  background-color: #FEF64D;
  font-weight: bold;
  font-size: 1.5rem;
  color: #00B7AB;
  border: 1px dashed #0291C9;
  border-radius: 25px;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  margin-top: 10px;
  margin-bottom: 45px;
  width: 25rem;
  height: 3.5rem;
}

* {
  box-sizing: border-box;
}

.wrapper > div {
  border-radius: 5px;
  background-color: #BBDEF0;
  padding: 1em;
  margin: 5px;
}

.wrapper {
  display: block;
}

.wrapper > div {
  max-width: 780px;
}

.griditem1 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
}

.griditem1 img {
  width: 40%;
  height: auto;
}

.griditem3 {
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 5px 0 0;
}

.griditem4 {
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 5px 0 0;
}

.griditem5 {
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 0 5px 0 0;
}

.contact-grid > .griditem3 {
  background-color: #E5E5E5;
}

.contact-grid > .griditem4 {
  background-color: #E5E5E5;
}

.contact-grid > .griditem5 {
  background-color: #E5E5E5;
}

.contact-grid p {
  color: #0291C9;
  font-family: Raleway, sans-serif;
  font-size: 15px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}