/* Larger viewports */
@media only screen and (min-width: 40em) {

	header img {
		width: 100%;
    }
    
    .quote {
        font-style: italic;
        letter-spacing: 1pt;
        color: var(--paragraph-color-on-color);
        background-color: var(--text-background-color);
        margin-top: -23px;
        margin-left: 15px;
        font-size: .9rem;
    }

	body > #pancakes {
        height: 60px;
        text-align: center;
        background-color: #F1D302;
        color: #005377;
        font-weight: bold;
        font-size: 18px;
        line-height: 60px;
    }

    body {
        background-color: #BBDEF0;
    }

    main > h1 {
        text-align: center;
        padding: 20px 0 0 0;
        margin-top: 40px;
        margin-bottom: -70px;
    }
    
    h3, h4 {
        text-align: center;
        color: #005377;
        font-family: Roboto Slab, serif;
        font-weight: bold;
    }	

    nav a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    .nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }

	* {
		box-sizing: border-box;
	  }
	  
	  .wrapper > div {
		border-radius: 5px;
		background-color: #BBDEF0;
		padding: 1em;
		margin: 5px;
	  }
	  .wrapper {
		display: block;
	  }
	  
	  .wrapper > div {
		max-width: 780px;
	  }

	  footer {
		color: var(--paragraph-color-on-color);
		background-color: var(--text-background-color);
		padding: 20px 0;
		display: block;
		align-items:center;
		justify-content:center;
		max-width: 100%;
	}
}

header {
    color: var(--paragraph-color-on-color);
    background-color: var(--text-background-color);
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
}