    /* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    header {
        color: var(--paragraph-color-on-color);
        background-color: var(--text-background-color);
        padding: 15px 0 15px 5px;
        float: none;
        display: flex;
    }

    header img {
        margin-left: -35px;
    }

    .headings h1 {
        color: #9ECEE5;
        font-size: 1.6rem;
        margin: 0 0 0 17px;
        margin-right: 120px;
    }

    .quote {
        font-style: italic;
        letter-spacing: 1pt;
        color: #9ECEE5;
        background-color: var(--text-background-color);
        margin-left: 30px;
        font-size: .9rem;
        letter-spacing: 1.5pt;
    }

    .primaryNav {
        color: #9ECEE5;
    }

    nav {
        float: right;
        background-color: #0291C9;
        margin-right: -40px;
    }

    a:link,
    a:visited {
        color: #9ECEE5;
    }

    .nav a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    .nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        padding: .8rem 1rem;
        border-radius: 25px;
    }

    body {
        background-color: #E5E5E5;
    }

    main h1 {
        margin: 30px auto;
        color: var(--headline-color-on-color);
        text-align: center;
        font-size: 2.5rem;
        color: #00B7AB;
        border: 4px; border-style: ridge; border-color: #00B7AB;
        width: fit-content;
        padding: 10px;
        border-radius: 10px;
        background-color: #FEF64D
    }

    main h2 {
        color: #0291C9;
        margin-left: 15%;
        margin-right: 15%;
    }

    main li {
        color: #0291C9;
        margin-left: 15%;
        margin-right: 15%;
    }

    main h2 {
        margin-top: 45px;
    }

    main ul {
        margin-bottom: 45px;
    }

    footer {
        color: var(--accent1-color);
        background-color: var(--text-background-color);
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        margin-top: -25px;
    }

    * {
        box-sizing: border-box;
    }
    
    /*----------- RESERVATIONS.HTML START -------------*/

    main h1 {
        margin: 30px auto;
        color: var(--headline-color-on-color);
        text-align: center;
        font-size: 2.5rem;
        color: #00B7AB;
        border: 4px; border-style: ridge; border-color: #00B7AB;
        width: fit-content;
        padding: 10px;
        border-radius: 10px;
        background-color: #FEF64D
    }

    main h2 {
        color: #0291C9;
        margin-left: 15%;
        margin-right: 15%;
    }

    main li {
        color: #0291C9;
        margin-left: 15%;
        margin-right: 15%;
    }

    main h2 {
        margin-top: 45px;
    }

    main ul {
        margin-bottom: 45px;
    }

    form {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }

    form fieldset {
        margin: 2rem 0;
        border: 1px solid #0291C9;
        border-radius: 10px;
        padding: .5rem 2%;
    }

    form legend {
        color: #0291C9;
        margin: 0 1rem;
        padding: 0 .75rem;
        font-size: 1.25rem;
    }

    form label.top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: .6rem;
        margin-left: -9px;
        color: #0291C9;
        font-size: 1rem;
    }

    form label.top input:required {
        border-left: red solid 6px;
    }

    form label.top input:required:valid {
        border-left: green solid 6px;
    }

    form label.top input,
    form label.top select {
        -webkit-appearance: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1rem;
        border: 1px solid #999;
        border-radius: 4px;
        color: black;
        width: 100%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 0;
        margin-left: 99px;
        padding: .25rem;
        position: absolute;
    }

    .form-checkbox, .form-checkbox-inline {
        color: #0291C9;
        padding: .25rem;
    }

    .form-checkbox-legend {
        color: #00B7AB;
        padding-bottom: .75rem;
        font-size: 1.125rem;
        font-weight: bold;

    }

    .form-checkbox-label {
        color: #0291C9;
        padding-bottom: .15rem;
        display: flex;
    }

    .form-checkbox-button {
        display: flex;
        padding: .125rem;
    }

    .form-checkbox-field {
        margin-top: .110rem;
    }

    form label.sbs {
        display: flex;
        padding: .75rem 0;
        color: #0291C9;
        font-size: 1rem;
        margin-top: .4rem;
    }

    form label.sbs input,
    form label.sbs select {
        -webkit-appearance: none;
        display: flex;
        font-size: 1rem;
        border: 1px solid #999;
        border-radius: 4px;
        padding: .25rem;
        color: black;
        width: 100%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: -5px;
        margin-left: 99px;
        position: absolute;
    }

    form label.sbs select {
        padding: .5rem .5rem;
    }

    form .choosedates {
        margin-top: .95rem;
        margin-bottom: -10px;
        color: #0291C9;
        
    }

    form label.dates {
        margin-top: .5rem;
        font-size: 1rem;
        border-radius: 4px;
        width: 100%;
        max-width: 20rem;
        color: #0291C9;
    }

    form label.dates input {
        margin-left: 30px;
        border: 1px solid #999;
        border-radius: 4px;
        margin-bottom: 6px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    form input.submitBtn2 {
        border: none;
        background-color: #FEF64D;
        font-weight: bold;
        font-size: 1.5em;
        color: #00B7AB;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 5rem 2%;
        width: 96%;
        max-width: 25rem;
        height: 2.75em;
        border: 2px dashed #00B7AB;
    }

    .buttonHolder {
        text-align: center;
    }

    textarea {
        font-size: .9rem;
        width: 100%;
    }

    /*----------- RESERVATIONS.HTML END -------------*/

    .fancy {
        position: relative;
        margin: 80px auto;
        margin-bottom: 105px;
        width: 500px;
        height: 225px;
        background-color: #FEF64D;
        text-align: center;
        padding: 30px;
        color: #0291C9;
        font-weight: bold;
        border-radius: 25px;
    }
        
    .fancy:before, .block:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #9ECEE5, #0291C9, #0291C9, #0291C9, #0291C9, #FEF64D, #0291C9, #0291C9, #9ECEE5, #0291C9);
        background-size: 500%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
        border-radius: 25px;
    }
        
        @keyframes steam {
        0% {
        background-position: 0 0;
        }
        50% {
        background-position: 400% 0;
        }
        100% {
        background-position: 0 0;
        }
        }
        
        .fancy:after {
        filter: blur(50px);
        }
}