/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    header {
        color: var(--paragraph-color-on-color);
        background-color: var(--text-background-color);
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body > #pancakes {
        height: 60px;
        text-align: center;
        background-color: #F1D302;
        color: #005377;
        font-weight: bold;
        font-size: 18px;
        line-height: 60px;
    }

    body {
        background-color: #BBDEF0;
    }

    main h1 {
        text-align: center;
    }

    .hero-ph {
        margin: auto;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
    }

    .herodiv {
        margin: 10px auto;
        position: relative;
        width: 1020px;
        height: 500px;
    }

    .weathersummary {
        position: absolute;
        top: 35px;
        left: 35px;
        bottom: 220px;
        background: radial-gradient(#BBDEF0, #BBDEF0);
        border: 1px solid #005377;
        padding: .5rem;
        box-shadow: 0 0 30px #BBDEF0;
        color: #005377;
        font-weight: bold;
        font-family: Raleway, sans-serif;
        opacity: 0.85;
    }

    .weathersummary h2 {
        text-align: center;
        font-weight: bold;
        margin: 10px 0 0 0;
    }

    hr {
        border: 2px solid #005377;
    }

    .forecast-ph img {
        margin: auto;
        background-repeat: no-repeat;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #005377;
    }

    .forecastdiv {
        margin: auto;
        position: relative;
        width: 100%;
        height: 125px;
    }

    .article-container {
        margin: 10px auto;
        width: 700px;
        background-color: #F1D302;
        float: none;
        padding: 5px;
    }

    h3, h4 {
        text-align: center;
        color: #005377;
        font-family: Roboto Slab, serif;
        font-weight: bold;
    }

    .article-container h4 {
        margin: -12px 0 20px 0;
    }

    .article-container h3, h4 {
        text-align: left;
    }

    .article-container p {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        color: #005377;
    }

    .contact-grid {
        display: grid;
        margin: 20px auto;
        width: 980px;
        height: 380px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        background-color: #BBDEF0;
        padding: 10px;
    }

    .contact-grid > div {
        background-color: #BBDEF0;
    }

    .contact-grid p {
        color: #005377;
        font-family: Raleway, sans-serif;
        font-size: 15px;
    }

    .griditem1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .griditem1 img {
        width: 75%;
        height: auto;
        margin: 23px 118px;
    }

    .griditem2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .griditem3 {
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .griditem4 {
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .griditem5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .griditem6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .social {
        margin: 0px 181px;
    }
      
    .social img {
        border-radius: 20px 20px 20px 20px;
        margin: 5px -12px 5px 5px;
      }

    nav a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    .nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }

    footer {
        color: var(--paragraph-color-on-color);
        background-color: var(--text-background-color);
        display: block;
        align-items:center;
        justify-content:center;
        max-width: 1020px;
        margin: auto;
    }

    * {
        box-sizing: border-box;
      }

      .wrapper {
        display: block;
        margin: 5px;
      }
      
      .wrapper > div {
        background-color: #BBDEF0;
        padding: 1.125em;
        margin: auto;
        max-width: 1020px;
      }

} /*end large */