:root {
    /* change the values below to your colors from your palette */
    --primary-color: #BBDEF0;
    --secondary-color: #005377;
    --accent1-color: #F1D302;
    --accent2-color: #00AFB5;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto Slab", serif;
    --paragraph-font: Raleway, Helvetica, sans-serif;
  
    /* colors below are for the website color scheme */
    --headline-color-on-white: black;  /* headlines on a white background */ 
    --headline-color-on-color: #00AFB5; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #BBDEF0; /* paragraph text on a colored background */ 
    --text-background-color: #005377;
    --nav-link-color: #005377;
    --nav-background-color: #F1D302;
    --nav-hover-link-color: #005377;
    --nav-hover-background-color: #BBDEF0;
  }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header {
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 1em;
    color: var(--paragraph-color-on-color);
    background-color: var(--text-background-color);
  }

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

nav {
    background-color: var(--nav-background-color);
    font-family: "Roboto Slab", serif;
  }

nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }


nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #003577;
    }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top:1px solid rgba(0,0,0,0.3);
}

nav ul li.active a{
    background-color: rgba(0,53,119,1);
    color: #fff;
}

nav ul.hide {
    display: none;
}

main > h1 {
  margin: 5px 0 5px 10px;
  color: #005377;
}

* {
  box-sizing: border-box;
  }
  
  .wrapper > div {
    border-radius: 5px;
    background-color: #BBDEF0;
    padding: 1em;
    margin: 5px;
  }

  .wrapper {
    display: block;

  }

  footer {
    color: var(--paragraph-color-on-color);
    background-color: var(--text-background-color);
    padding: 20px 0;
    display: block;
    align-items:center;
    justify-content:center;
    text-align: center;
  }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }