/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    header {
        color: var(--paragraph-color-on-color);
        background-color: var(--text-background-color);
        padding: 15px 0 15px 5px;
        float: none;
        display: flex;
    }

    header img {
        margin-left: -35px;
    }

    .headings h1 {
        color: #9ECEE5;
        font-size: 1.6rem;
        margin: 0 0 0 17px;
        margin-right: 120px;
    }

    .quote {
        font-style: italic;
        letter-spacing: 1pt;
        color: #9ECEE5;
        background-color: var(--text-background-color);
        margin-left: 30px;
        font-size: .9rem;
        letter-spacing: 1.5pt;
    }

    .primaryNav {
        color: #9ECEE5;
    }

    nav {
        float: right;
        background-color: #0291C9;
        margin-right: -40px;
    }

    a:link,
    a:visited {
        color: #9ECEE5;
    }

    .nav a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    .nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        padding: .8rem 1rem;
        border-radius: 25px;
    }

    body>#pancakes {
        height: 60px;
        text-align: center;
        background-color: #F1D302;
        color: #005377;
        font-weight: bold;
        font-size: 18px;
        line-height: 60px;
    }

    body {
        background-color: #E5E5E5;
    }

    main h1 {
        color: var(--headline-color-on-color);
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .herodiv {
        margin: auto;
        position: relative;
        width: 100%;
        height: 475px;
    }

    .hero-ph img {
        border-radius: 0;
        height: 100%;
    }

    /***************** TABLE START *****************/

    /* 
    table {
        box-shadow : 10px 10px 15px #628ca6;
    }
    */

    table {
        border-collapse: collapse;
        height: 325px;
        width: 725px;
        margin-left: 25px;
    }
    
    h1, th, td {
        font-family: Ubuntu, sans-serif;
    }
    
    thead tr th {
        line-height: 30px;
        font-size: 20px;
    }
    
    table, th, td {
        border: 1px solid black;
      }
    
    thead tr:nth-child(1) {
        background-color:#0291C9;
        line-height: 30px;
        color: white;
    }
    
    tbody {
        text-align: center;
        line-height: 30px;
        font-size: 18px;
    }
    
    tbody tr th {
        background-color:#9ECEE5;
        color: #0291C9;

    }
    
    td[colspan="2"] {
        text-align: center;
    }
    
    tbody tr {
        background: #00B7AB;
        color: #E5E5E5;
    }
    
    .headings th {
        background-color: #9ECEE5;
        color: white;
        line-height: 30px;
        font-size: 20px;
    }
    
    tfoot th {
        background-color: #9ECEE5;
        font-size: 11px;
    }
    
    tfoot th {
        line-height: 28px;
    }

    /***************** TABLE END *****************/

    .cards {
        display: flex;
        max-width: 1225px;
        margin-top: -100px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        padding: 10px 10px;
        list-style: none;
        border-radius: 25px;
    }

    .cards img {
        width: 100%;
        height: auto;
        display: block;
        border: 1px solid #005377;
    }

    .cards section {
        background-color: #00AFB5;
        padding: 1em;
        margin: .25em;
        box-shadow: 0 0 25px #005377;
    }

    .cards section h2 {
        text-align: center;
        font-family: Roboto Slab, serif;
        font-weight: bold;
        font-size: 2em;
        text-shadow: 3px 3px 1.5px #BBDEF0;
        margin-top: -55px;
        color: #005377;
    }

    .cards :nth-child(1) p {
        margin-right: 90px;
        margin-left: 90px;
    }

    .cards :nth-child(2) p {
        margin-right: 80px;
        margin-left: 70px;
    }

    .cards :nth-child(2) h2 {
        margin-right: 30px;
        margin-left: 20px;
    }

    .cards :nth-child(3) p {
        margin-right: 20px;
        margin-left: 20px;
    }

    .cards :nth-child(3) h2 {
        margin-right: 20px;
        margin-left: 20px;
    }

    .cards section p {
        font-family: Raleway, sans-serif;
        color: #005377;
        margin-top: -7px;
    }

    .cards section {
        text-align: center;
        background-color: #9ECEE5;
        padding: 1em;
        margin: .25em;
        box-shadow: 0 0 25px #FEF64D;
        border-radius: 25px;
        border: 1px solid #00B7AB;
    }

    .cards section h2 {
        text-align: center;
        font-family: Roboto Slab, serif;
        font-weight: bold;
        font-size: 2em;
        text-shadow: 3px 3px 1.5px #E5E5E5;
        margin-top: -55px;
        color: #0291C9;
    }

    .cards img {
        width: 100%;
        height: auto;
        display: block;
        border: 1px solid transparent;
    }

    .cards section ul {
        text-align: left;
        font-family: Raleway, sans-serif;
        color: #0291C9;
        font-size: .9rem;
        padding-top: 45px;
    }

    /*    
        .cards section p {
        font-family: Raleway, sans-serif;
        color: #0291C9;
        margin-top: -7px;
    }
*/

    h3,
    h4 {
        text-align: center;
        color: #0291C9;
        font-family: Roboto Slab, serif;
        font-weight: bold;
    }

    footer {
        color: var(--accent1-color);
        background-color: var(--text-background-color);
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }

    * {
        box-sizing: border-box;
    }

    .wrapper {
        display: block;
        margin: 5px;
    }

    .wrapper > div {
        background-color: #BBDEF0;
        padding: 1.125em;
        margin: auto;
        max-width: 1020px;
    }
}

/*end large */